//_product.scss

.wrapper-page__product{
    .wrapper-hero__headline{
        max-height: 820px;
        .hero-headline{
            position: relative;
            top:0;
            left:0;
            transform: translate(0,0);
            margin: 127px auto 0 auto;
            width:100%;
            max-width: 780px;
            height: 154px;
            z-index: 20;
        }
    }
    .wrapper-hero {
        position: relative;
        background-color:#666CDC;
        background-image: url(../img/gradient-overlay.svg), url(../img/hero-pattern@2x.png);
        background-position: right calc(100% - 137px);
        background-size: cover;
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: auto;
            top:0;
            bottom:-155px;
            background-image: url(../img/product-hero-understand-top.png);
            background-size: auto 672px;
            background-repeat: no-repeat;
            background-position: center bottom;
            z-index: 10;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
            animation-delay: 1s;
            animation-name: slide-up-fade-in;
            opacity: 0;
        }
        &::before{
            height: auto;
            top:0;
            bottom:-155px;
            background-image: url(../img/product-hero-understand-bottom.png);
            background-size: auto 672px;
            background-repeat: no-repeat;
            background-position: center bottom;
            z-index: 10;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
            animation-delay: 1.1s;
            animation-name: slide-up-fade-in;
            opacity: 0;
        }
    }
    .wrapper-page{
        padding-top:132px;
    }
}

@keyframes slide-up-fade-in {
    0%   {
        opacity: 0;
        transform: translateY(20px);
    }
    100%   {
        opacity: 1;
        transform: translateY(0px);
    }
}